.container {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  
  padding: 0;
  margin-top: 0;
}

.headContainer{
  width: 100%;
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background-color: rgba(80,80,80);;
}

.siteIdent{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;

  margin-left: 30px;
  float: left;
}

.identText{
  color: white;
  font-weight: 400;
  margin-left: 10px;
  font-size: 24px;
}

.navList{
  width: 330px;

  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
}

.navItem{
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 50px;

  list-style-type: none;
}

.societyDropdown{
  visibility: hidden;
  position: absolute;

  background-color: rgba(120,120,120);
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}

.societyDropdownList{
  width: 150px;
  padding: 0;
}

.societyDropdownItem{
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 20px;

  width: 100%;

  border-bottom-style: solid;
  border-bottom: 1px solid rgba(255,255,255,0.5);

  list-style-type: none;
}